<div class="container">
  <h1>JavaScript Patterns</h1>
  <hr>
  <table>
   <tr>
   	 <td>
   	   <p><button type="button" onclick="show_body()">Click me to show body</button></p>
   	 </td>
   </tr>
    <tr>
  	  <td>
        <p id="change_text">JavaScript can change HTML content.</p>
        <p><button type="button" onclick="change_text()">Click Me!</button></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p><button type="button" onclick="get_date()">Click me to display Date and Time.</button>
		<div id="get_date"></div></p>
      </td>
    </tr>
	<tr>
	  <td>
	  	<p><img id="my_image" onclick="change_image()" src="http://www.w3schools.com/js/pic_bulboff.gif" width="100" height="180"></p>
		<p>Click the light bulb to turn on/off the light.</p>
      </td>
	</tr>
    <tr>
      <td>
		<p>Please input a number between 1 and 10:</p>
		<input id="validate_data" type="number">
		<button type="button" onclick="validate_data()">Submit</button>
		<p id="validate_text"></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p><button type="button" onclick="window_alert()">Click me to show window alert.</button></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p id="sample_text_to_locate">Please locate where 'locate' occurs!.</p>
      	<p><button type="button" onclick="where_locate()">Click to locate!</button></p>
      	<p id="show_where_is_locate_text"></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p>The pop(push) method removes(adds) the last element from an array.</p>
      	<p id="fruits"></p>
      	<p><button type="button" onclick="pop()">Click to pop fruits!</button></p>
      	<p><button type="button" onclick="push()">Click to add fruits!</button></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p><button onclick="click_button_and_confirm()">Click button and confirm</button></p>
      	<p id="button_and_confirm"></p>
      </td>
    </tr>
    <tr>
      <td>
      	<p><button onclick="click_button_prompt()">Click button to test prompt</button></p>
      	<p id="button_prompt"></p>
      </td>
    </tr>
  </table>
  <a href="https://github.com/airbnb/javascript/blob/master/README.md">https://github.com/airbnb/javascript/blob/master/README.md</a>
  <p><%= link_to "RSpec", welcome_testing_with_rspec_path %></p>


<div class="code">
<pre>
function show_body() {
  alert(document.body.innerHTML);
}


function change_text() {
  var x = document.getElementById('change_text')
  x.style.fontSize = "25px";
  x.style.color = "green";
  x.innerHTML = "Hello JavaScript";
}


function get_date() {
  document.getElementById('get_date').innerHTML = Date()
}


function change_image() {
  var image = document.getElementById('my_image');
  if (image.src.match("bulbon")) {
    image.src = "http://www.w3schools.com/js/pic_bulboff.gif";
  } else {
    image.src = "http://www.w3schools.com/js/pic_bulbon.gif";
  }
}


function validate_data() {
  var x, text;
  x = document.getElementById("validate_data").value;
  if (isNaN(x) || x < 1 || x > 10) {
  text = "Input not valid";
  } else {
  text = "Input OK";
  }
  document.getElementById("validate_text").innerHTML = text;
}


function window_alert() {
  window.alert("It works!");
}


function where_locate() {
  var str = document.getElementById("sample_text_to_locate").innerHTML;
  var pos = str.search("locate");
  document.getElementById("show_where_is_locate_text").innerHTML = pos;
}


var fruits = ["Banana", " Orange", " Apple", " Mango"];

window.onload = downScripts;

function downScripts() {
  document.getElementById("fruits").innerHTML = fruits;
}


function pop() {
  fruits.pop();
  document.getElementById("fruits").innerHTML = fruits;
}


function push() {
  fruits.push(" Fruit");
  document.getElementById("fruits").innerHTML = fruits;
}


function click_button_and_confirm() {
    var x;
    if (confirm("Press a button!") == true) {
        x = "You pressed OK!";
    } else {
        x = "You pressed Cancel!";
    }
    document.getElementById("button_and_confirm").innerHTML = x;
}


function click_button_prompt() {
    var person = prompt("Please enter your name", "Harry Potter");

    if (person != null) {
        document.getElementById("button_prompt").innerHTML =
        "Hello " + person + "! How are you today?";
    }
}
</pre>
</div>
</div>

