<div class="container">
  <h1>jQuery Patterns</h1>
  <hr>
  <table>
    <tr>
   	  <td>
   	    <p id="hide_it">Click me to hide me</p>
   	  </td>
    </tr>
    <tr>
      <td>
      	<p id="hide_it_by_dblclick">If you double-click on me, I will disappear</p>
      </td>
    </tr>
  </table>
  <a href ="http://api.jquery.com">http://api.jquery.com</a>
</div>
